.wrapper {
    width: 1144px;
    margin: 0 auto;
    font-family: "Baskerville Old Face";
}
h1 {
    font-size: 60px;
    color: #00B3DF;
    margin-top: 15px;
}

h2 {
    color: #90cab6;
    font-size: 35px;
}

.photo {
    margin-left: -87px;
}

.photo img {
    width: 250px;
    border-radius: 50%;
    position: inherit;
}

.profile {
    margin-top: 40px;
    display: flex;
    justify-content: center;;
}
.about {
    margin-left: 70px;
}

.about p {
    color: darkseagreen;
    font-family: "Century Gothic";
    font-size: 50px;
    margin-top: 100px;
}

.name {
    margin-left: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
}
.education-field, .summary-field, .skills-field, .contact-field {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
}

.education {
    font-size: 40px;
    width: 397px;
    background-color: #e5efef;
}
.summary {
    font-size: 40px;
    width: 397px;
    background-color: #e5efef;
}
.skills {
    font-size: 40px;
    width: 397px;
    background-color: #e5efef;
}
.contact {
    font-size: 40px;
    width: 397px;
    background-color: #e5efef;
}
.content {
    background-color: #c9f7f7;
    width: 735px;
    margin-right: 38pxpx;
}
.content p{
    font-size: 20px;
    margin-left: 24px;
}
.education-content p {
    margin-left: 15px;
}

.education p {
    margin-left: 214px;
}
.skills p {
    margin-left: 290px;
}
.contact p {
    margin-left: 243px;
}
.fab{
    font-size: 30px;
}
.proff{
    margin-right: 185px;
}